{% extends 'pages/base.html' %}
{% block content %}

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Add New</h1>
                        <form method="POST" action="">
                            {% csrf_token %}
                            {{ form.as_ul }}
                            <input class="btn btn-default" type="submit" name="save" value="Save Draft"/>
                            <input class="btn btn-success" type="submit" name="confirm" value="Confirm"/>
                            <input class="btn btn-danger" type="submit" name="deactivate" value="DeActivate"/>
                        </form>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
  {% endblock %}
   
