{% extends 'pages/base.html' %}
{% block content %}

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class = "pull-right">Ship Details</h3>
                        <h2 class="page-header">{{ShipName.Name}}</h2>
                        <div class="panel panel-green">
                        <div class="panel-heading">
                            IMO Number :: {{ShipName.IMONumber}}
                        </div>
                        <div class="panel-body">
                            <div class = row>
                                <div class="col-lg-3">
                                    <!-- <ul class="list-group">
                                      <li class="list-group-item active">Flag</li>
                                      <li class="list-group-item ">{{ShipName.FLAG.FlagName}}</li>
                                      <li class="list-group-item active">Port Of Registry</li>
                                      <li class="list-group-item">{{ShipName.PortOfRegistry.PortName}}</li>
                                      <li class="list-group-item active">DNL</li>
                                      <li class="list-group-item">{{ShipName.DNL}}</li>
                                    </ul> -->
                                    <dl class="dl-horizontal">
                                        <dt>Flag</dt>
                                        <dd>{{ShipName.FLAG.FlagName}}</dd>
                                        <dt>Port Of Registry</dt>
                                        <dd>{{ShipName.PortOfRegistry.PortName}}</dd>
                                        <dt>DNL</dt>
                                        <dd>{{ShipName.DNL}}</dd>
                                    </dl>
                                </div>
                                <div class="col-lg-3">
                                    <ul class="list-group">
                                      <li class="list-group-item">Type Of Ship</li>
                                      <li class="list-group-item">{{ ShipType }}</li>
                                    </ul>
                                </div>
                                <div class="col-lg-6">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">Basic Data</div>
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Gross Tonnage</td>
                                                        <td>{{ShipName.GrossTonnage}}   </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Net Tonnage</td>
                                                        <td>{{ShipName.NetTonnage}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Length (mtrs)</td>
                                                        <td>{{ShipName.Length}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Build Date</td>
                                                        <td>{{ShipName.BuiltYear}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Delivery Date</td>
                                                        <td>{{ShipName.DeliveryDate}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <address>
                                    <h4>Owner Details</h4>
                                    <strong>{{ShipName.Owner.Name}}</strong>
                                    <br>{{ShipName.Owner.CompanyName}}
                                    <br>{{ShipName.Owner.CompanyAddress}}
                                    <br>
                                    <abbr title="Phone">P:</abbr>{{ShipName.Owner.Phone}}
                                </address>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class = "row">
                                <div class="col-lg-6">
                                    <dl class="dl-horizontal">
                                        <dt>Created By</dt>
                                        <dd>{{ShipName.DocAuthor}}</dd>
                                        <dt>Created On</dt>
                                        <dd>{{ShipName.DocCreated}}</dd>
                                        <dt>Last Updated On</dt>
                                        <dd>{{ShipName.DocLastUpdated}}</dd>
                                    </dl>
                                </div>
                                <div class="col-lg-6">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Certificate Informations
                        </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#home" data-toggle="tab" aria-expanded="false">Active</a>
                                    </li>
                                    <li class=""><a href="#profile" data-toggle="tab" aria-expanded="true">DeActive</a>
                                    </li>
                                    <li class=""><a href="#messages" data-toggle="tab" aria-expanded="false">Create</a>
                                    </li>
                                    <li class=""><a href="#settings" data-toggle="tab" aria-expanded="false">Print</a>
                                    </li>
                                </ul>
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div class="tab-pane fade in active" id="home">
                                        <h4>Main</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                    </div>
                                    <div class="tab-pane fade" id="profile">
                                        <h4>Profile Tab</h4>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                Interim CSSE Certificate
                                            </div>
                                            <!-- /.panel-heading -->
                                            <div class="panel-body">
                                                <div class="table-responsive">
                                                    <table class="table table-striped table-bordered table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th></th>
                                                                <th>Create New</th>
                                                                <th>Draft</th>
                                                                <th>Active</th>
                                                                <th>DeActivate</th>
                                                                <th>View</th>
                                                            </tr>
                                                        </thead>
                                                        {% for Name, Count in Counts.items %}
                                                        <tbody>
                                                            <tr>
                                                                <td></td>
                                                                <td><a href="../../cert/{{ Name }}/create/?shipid={{ ShipName.pk }}">{{ Count.0 }} </a></td>
                                                                <td><a href="../../cert/{{ Name }}?shipid={{ ShipName.pk }}">{{ Count.1 }}</a></td>
                                                                <td><a href="../../cert/{{ Name }}?shipid={{ ShipName.pk }}">{{ Count.2 }}</a></td>
                                                                <td><a href="../../cert/{{ Name }}?shipid={{ ShipName.pk }}">{{ Count.3 }}</a></td>
                                                                <td> <a href="../../cert/{{ Name }}?shipid={{ ShipName.pk }}">View</td>
                                                            </tr>
                                                        </tbody>
                                                        {% endfor %}
                                                    </table>
                                                </div>
                                                <!-- /.table-responsive -->
                                            </div>
                                            <!-- /.panel-body -->
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="messages">
                                        <h4>Create Certificate</h4>
                                        <a href="../../cert/ciapp/create/?shipid={{ ShipName.pk }}" class="" >INTERNATIONAL AIR POLLUTION PREVENTION CERTIFICATE</a>
                                    </div>
                                    <div class="tab-pane fade" id="settings">
                                        <h4>Settings Tab</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                    </div>
                               </div>
                            </div>
                            <!-- /.panel-body -->
                    </div>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <div class="col-lg-2">
                        <form method="get" action="../0/">
                        <button type="submit" class="btn btn-outline btn-warning page-header">View Deactivated</button>
                        </form>
                    </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
  {% endblock %}
   
