{% extends 'pages/base.html' %}
{% block content %}
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="page-header">Create New INTERNATIONAL AIR POLLUTION PREVENTION CERTIFICATE (IAPP)</h3>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                 <div class="row">
                    <div class="col-lg-4">
                    {% include "pages/create-base-form.html" %}
                    </div>
                 </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
  {% endblock %}
   
